*{  
  margin: 0; /* set margins and padding to 0 as opposed to default values set by browser */
  padding: 0;
  box-sizing: border-box; /* changes how the inspector shows measurements  */
}

.topBar{
  position: fixed; /* always in view in fixed position */
  width: 100%;
  height: 90px;
  z-index: 1;
}

.topBarBackground{
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #F0E7D8;
  outline: 3px double #A1674A;
  outline-offset: -2px;
  opacity: 90%;
}

.logoTextBig{
  color: rgb(0, 0, 0);
  margin-left: 112px;
  transform: translateY(12px);
  font-weight: 900;
}
.logoTextSmall{
  color: rgb(0, 0, 0);
  margin-left: 117px;
  transform: translateY(10px);
  font-size: 1rem;
  font-weight: 900;
}
.logoImg{
  transform: translateY(-63px);
  height: 77px;
  width: auto;
  border-radius: 50%;
  margin-left: 18px;
}

.ContactMe{
  position: relative;
  margin-right: 20px;
  margin-top: 13px;
  color: white;
  background-color: #A63A50;
  font-size: 1.3rem;
  font-family:serif ;
  padding: 15px;
  float: right;  
}

.titleImageAndTxt{
  overflow-x: hidden; /* Ensure if an element overhangs the page it doesnt spawn a scroll bar */
  text-align: center; 
  background-color: rgb(0, 0, 0); /*set to make edges black else the blur effect makes them white*/
}

.titleImageAndTxt img{
  width: 100vw;
  height: 95vh; /* makes the red section partly visible*/
  object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
  min-width: 600px;
  min-height: 400px;
  display: block; /* Removes any extra spacing below the image */
  filter: blur(1px);
  position: relative;
}

.titleText{
  color: white;
  text-align: left;
  max-width: 45%;
  font-size: 1.3rem;
  position: absolute;
  top: 23%;
  left: 10%;
  font-weight: 500;
  text-align: center;
}

.mainImageTriangle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 40vw solid transparent;
  border-bottom: 60vw solid #A63A50;
  opacity: 65%; 
}

.redBannerText{
  width: 100%;
  color: white;
  background-color: #A63A50;
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 500 ;
  font-size: 1.2rem;
}

.gridContainer{
  display: grid;
  overflow: hidden; 
  grid-template-columns:  repeat(4, 1fr); /* Creates 4 gridBoxs with equal width */
  text-align: center;
  width: 100%;
  height: 600px;
  font-size: 1.1rem;
  color: white;
}
.gridBox{
  position: relative;
  overflow: hidden; /* Ensure text does not overflow from the grid item */
}

.gridBoxHeader{
  align-items: center; /* Center items horizontally */
  position: absolute;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Center the text container */
  padding: 20px;
  outline: #000000 solid 2px;
  outline-offset: -2px;
  background-color: #A63A50;
}

.gridBoxParagraph{
  align-items: center; /* Center items horizontally */ 
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text container */
  padding: 20px;
  border: black solid 1px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.495);
}

.gridBox img{
  width: 100%;
  height: 600px;
  object-fit: cover; /* Cut the sides off, maintaining aspect ratio */
}

.contactForm{
  height: 600px;
  width: 100%;
  background-color: #000000;
  outline: 2px solid #A1674A;
  outline-offset: -2px;
  text-align: center;
  color: white;
}

.contactForm h1{
  font-size: 2rem;;
  position: relative;
  top: 45px;
  right: -5%;  
  width: 40%;
}

.address{
  position: relative;
  top: 70px;
  right: -5%;
  width: 40%;
  /* text-align: left; */
/*   background-color: #A63A50; */
}

form{
  position: absolute;
  align-items: center;
  display:flex;
  flex-direction: column;
  width: 40%;
  /* background-color: #A63A50; */
  outline: solid 2px #A1674A;
  outline-offset: 5px;
  right:  5%;
  top: 1620px
}

.formHeader{
  margin-bottom: 30px;
  text-decoration: underline;
}

input{
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.message{
  padding-bottom: 80px;
}

button{
  font-size: 1.5rem;
  padding-left: 50px;
  padding-right: 50px;
  padding: 5px 55px 5px 55px;
/*   background-color: #A63A50; */
}

.footer{
  height: 100px;
  width: 100%;
  background-color: #AB9B96;
}

