*{  
  margin: 0; /* set margins and padding to 0 as opposed to default values set by browser */
  padding: 0;
  box-sizing: border-box; /* changes how the inspector shows measurements  */
}

html {
  scroll-behavior: smooth;
}

body{
  background-color:#AB9B96;
}
.headerConstraint{
  position: absolute;
  height: 1335px;
  width:  100%;
  top: 0;
}

.header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1;
}

.header .headerEmail{ /* number and email */
  position: absolute;
  transform: translate(-20px, -174px);
  right:0;
}

.header .headerPhone{ /* number and email */
  position: absolute;
  transform: translate(-320px, -172px);
  right:0;
}

.headerBackground{
  width: 100%;
  height: 90px;
  background-color: #F0E7D8;
  outline: 3px double #A1674A;
  outline-offset: -2px;
  /*opacity: 90%; */
}

.header .emailIcon{
  position: absolute;
  width: 19px;
  right: 0;
  transform: translate(-280px, -91px);
}

.header .phoneIcon{
  position: absolute;
  width: 17px;
  right: 0;
  transform: translate(-417px, -91px);
}

.logoTextBig{
  color: rgb(0, 0, 0);
  margin-left: 117px;
  transform: translateY(-80px);
  font-weight: 900;
}
.logoTextSmall{
  color: rgb(0, 0, 0);
  margin-left: 117px;
  transform: translateY(-80px);
  font-size: 1rem;
  font-weight: 900;
}
.header .logoImg{
  transform: translateY(-152px);
  height: 77px;
  width: auto;
  border-radius: 50%;
  margin-left: 18px;
}

.ContactMeButton{
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 20px;
  z-index: 2;
  color: white;
  background-color: #A63A50;
  border: solid #000000;
  font-size: 1.2rem;
  font-family: serif;
  padding: 10px;
  cursor: pointer;
}

.ContactMeButton:hover{
  color:black;
  background-color:#A1674A;
}
  

.titleImageAndTxt{
  position: relative;
  overflow: hidden; /* Ensure container doesn't allow child elements to overflow */
  /* background-color: rgb(0, 0, 0); */ /*set to make edges black else the blur effect makes them white*/
  /* z-index: -1; */
  margin-top: 90px; /* Add margin to create space for the header */
}

.titleImageAndTxt img{
  width: 105vw;
  height: 78vh; /* makes the banner partly visible*/
  object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
  display: block; /* Removes any extra spacing below the image */
  max-width: 1400px;
 /*  filter: blur(1px); */
  filter: brightness(0.9);
  margin-left: auto;
  margin-right: auto;
}

.titleImageAndTxt .titleText{
  color: white;
  text-align: left;
  max-width: 45%;
  font-size: 1.1rem;
  position: absolute;
  top: 12%;
  left: 7%;
  font-weight: 500;
  text-align: center;
}

.titleImageAndTxt .TitleImageTriangle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 400px solid transparent;/* 400px */
  border-bottom: 600px solid #A63A50;/* 600px */
  opacity: 65%; 
}

.banner1Text{
  color: white;
  background-color:#A63A50;
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 500 ;
  font-size: 1.2rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.gridContainer{
  display: grid;
  overflow: hidden; 
  grid-template-columns:  repeat(4, 1fr); /* Creates 4 gridBoxs with equal width */
  text-align: center;
  width: 100%;
  height: 420px;
  font-size: 1.1rem;
  color: white;
  max-width: 1400px;
  margin: 0 auto;
}
.gridContainer .gridBox{
  position: relative;
  overflow: hidden; /* Ensure text does not overflow from the grid item */
  min-width: 250px;
}

.gridContainer .gridBoxHeader{
  align-items: center; /* Center items horizontally */
  position: absolute;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Center the text container */
  padding: 20px;
  outline: #000000 solid 2px;
  outline-offset: -2px;
  background-color: #A63A50;
}

.gridContainer .gridBoxParagraph{
  align-items: center; /* Center items horizontally */ 
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text container */
  padding: 20px;
  width: 90%;
  font-size: smaller;
}

.gridContainer .gridBox img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.gridContainer .gridBox:hover img {
  filter: brightness(0.4);
}

.banner2{
  background-color:#A63A50;
  height: 200px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.banner2 h1{
  color: white;
  text-align: center;
  padding-top: 15px;
}

.banner2 ul{
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center the list items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  margin-left: 10%;
  margin-right:  10%;
}

.banner2 ul li{
  list-style: none;
  color: white;
  margin: 25px 25px 5px;
  font-size: 1.2rem;
}

.contactForm{
  height: 600px;
  background-color: #000000;
  border-top:2px solid #A1674A;
  border-bottom:2px solid #A1674A;
  outline-offset: -2px;
  text-align: center;
  color: white;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.contactForm h1{
  position: relative;
  font-size: 2rem;;
  top: 45px;
  right: -5%;  
  width: 450px;
}

.contactForm .address{
  position: relative;
  top: 70px;
  right: -5%;
  width: 450px;
}

.contactForm .emailIcon{
  position: absolute;
  width: 20px;
  filter: invert(100%);
  top: 1733px;
  left: 6.8%; 
}

.contactForm .phoneIcon{
  position: absolute;
  width: 18px;
  filter: invert(100%);
  top: 1785px;
  left: 18%; 
}

.contactForm form{
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 450px;
  outline: solid 2px #A1674A;
  outline-offset: 5px;
  left: 50%;
  top: -60%;
  z-index: 2; /* ensures the header does not interfere with selecting the name input */
}

.contactForm .formHeader{
  margin-bottom: 30px;
  text-decoration: underline;
}

.contactForm input{
  font-size: 1rem;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.contactForm .message{
  padding-bottom: 80px;
}

.contactForm button{
  font-size: 1.1rem;
  padding-left: 50px;
  padding-right: 50px;
  padding: 5px 55px 5px 55px;
  font-weight: bold;
  background-color: #F0E7D8;
}

.footer{
  height: 100px;
  width: 100%;
  background-color: #AB9B96;
}

.footer .atrib{
  position: relative;
  text-align: center;
  padding-top: 80px;
  color: #000000;
}

a {
  color: black; /* Set the color to black */
  text-decoration: none; /* Optional: Remove the underline */
}


